---
import type { Menu } from "@types";
import Logo from "./Logo.astro";
import Navbar from "./Navbar.astro";

export interface Props {
  activeNav?: Menu;
}

const { activeNav } = Astro.props;
---

<header>
  <nav
    class="me-auto ms-auto flex max-w-4xl flex-wrap justify-between leading-[3.5rem]"
  >
    <Logo />
    <Navbar activeNav={activeNav} />
  </nav>
</header>
