---
import { HOME_INFO, SOCIALS } from "@config";
import Socials from "./Socials.astro";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<section id="hero">
  <h1>{HOME_INFO.title}</h1>
  <a
    target="_blank"
    href="/rss.xml"
    class="rss-link"
    aria-label="rss feed"
    title="RSS Feed"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
      ><path
        d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
      ></path><path
        d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
      ></path><circle cx="6" cy="18" r="2"></circle>
    </svg>
    <span class="sr-only">RSS Feed</span>
  </a>

  <p set:html={HOME_INFO.content} />
  {
    socialCount > 0 && (
      <div class="social-wrapper">
        <Socials />
      </div>
    )
  }
</section>

<style>
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-4 sm:text-4xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
</style>
